ul, #myUL {
  list-style-type: none;

}

.hierarchyli{
  padding: 10px 0px;
 
}
#myUL {
  margin: 0;
  padding: 0;
 
}
.hirarchylabel{
  cursor: pointer;
 padding-left: 10px;

}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active1 {
  display: block;
  background-color: #e8e8e8 !important;
}

label:focus
{
background-color: #339884;
}
