
.metaDefsidebar{
  height: 650px;
  width: 20%; 
  
  top: 2;
  left: 0; 
  float:left;  
  overflow-x: hidden;
  margin-top:100px;
  position:fixed;
  }
 
  .myUL{
    margin: 0px !important;
    padding: 0px !important;
  }
  .metaDefsidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .metaDefsidebar a.active {
    background-color: #4caf50;
    color: white;
  }
  
  .metaDefsidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .icon{
    width: 15px;
    height: 15px;
    border-radius: 24px;
    background-color: #6b1886e8;
    padding: 5px;
    color: white;
    font-size: 11px;
    font-family: monospace;
  }
  /* .textHeading{
    padding: 5px;
      font-size: 13px;
  } */
  .innersidebar{
    width: 100%;
    background-color: white;
    padding-top: 13px;
    margin-left: 27px;
  }
  .alphalink{
    float: left;
  }
  
  .alphalink > ul{
    margin: 0px;
  padding: 16px;
  list-style: none;
  }
  
  /* .metaDefsidebar > button{
    margin-left: 47px;
      background-color: greeb;
      background-color: #094a3e;
      border-block-end-style: none;
      color: white;
  } */
  .SiderBarHeader{
    width: auto;
      background-color: darkgrey;
      padding: 10px;
      font-size: 14px;
      color: #3972b9;
  }
  
  
  @media screen and (max-width: 700px) {
    .metaDefsidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .metaDefsidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .metaDefsidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
  ul, #myUL {
    list-style-type: none;
  
  }
  
  .hierarchyli{
    padding: 10px 0px;
   
  }
  .myUL {
    margin: 0;
    padding: 0;
   
  }
  .hirarchylabel{
    cursor: pointer;
  }
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active1 {
    display: block;
    background-color: #e8e8e8 !important;
  }
  
  