#leftbox { 
    float:left;  
    background:lightgrey; 
    width:40%; 
    height:280px; 
    margin-right: 30px;
    margin-left: 100px;
} 

#rightbox{ 
    float:left; 
    background:lightgray; 
    width:40%; 
    height:280px; 
} 
#h1{ 
    color:green; 
    text-align:center; 
   
} 
p,h2{
    padding:5px;
}