.subRegistration
{
    width: 80%;
    padding-left: 100px;
    position: absolute;
    margin-top: 100px;
    
}

.otherTxtbox
{
width: 50% !important;
padding: 5px !important;
}

.innersubRegistration
{
    padding-left: 200px;

}