div.metaDefinition {
    float:left;  
    width:80%; 
    
    padding: 1px 16px;
    height: 100%;
    margin-top:100px;
    margin-left: 20%;
   
  }
  
  @media screen and (max-width: 700px) {
   
    div.metaDefinition {
      margin-left: 0;
    } 
  }