.orgsidebar {
  float:left;  
  margin: 0;
  padding: 0;
  width:20%; 
  background-color: #e8e8e8;

 padding-left: 10px;
 margin-top:100px;
position:fixed;
  
}

.orgsidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none; 
}

.orgsidebar a.active {
  background-color: #4caf50;
  color: white;
}

.orgsidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


@media screen and (max-width: 700px) {
  .orgsidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .orgsidebar a {
    float: left;
  }
  div.orgcontent {
    margin-left: 0;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.orgHeadingli  {
  margin: 0px 0px 0px 10px;
 padding:1px 0px 5px 0px
};

.orgHeadingli_caret {
margin: 0px 0px 0px 25px;
padding: 4px
};
@media screen and (max-width: 400px) {
  .orgsidebar a {
    text-align: center;
    float: none;
  }
}



