.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.icon {
  width: 15px;
  height: 15px;
  border-radius: 24px;
  background-color: #6b1886e8;
  padding: 5px;
  color: white;
  font-size: 11px;
  font-family: monospace;
}
.textHeading {
  padding: 5px;
  font-size: 13px;
}
.innersidebar {
  width: 155px;
  background-color: white;
  padding-top: 13px;
  margin-left: 27px;
}
.alphalink {
  float: left;
}

.alphalink > ul {
  margin: 0px;
  padding: 16px;
  list-style: none;
}

.sidebar > button {
  margin-left: 47px;
  background-color: greeb;
  background-color: #094a3e;
  border-block-end-style: none;
  color: white;
}
.SiderBarHeader {
  width: auto;
  height: 20px;
  background-color: darkgrey;
  padding: 10px;
  font-size: 14px;
  color: #3972b9;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
