.Modal .Spinner {
    top: 0;
    z-index: 10;
    background:white ;
}
.Modal { 
    display: flex;
    background: red;
    color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
.Modal.overflow-visible .Modal__window .Modal__window__content {
    overflow-y: visible;
}
.Modal .Modal__window {
    transition: .3s ease-out;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    transform: scale(1);
    background: #fff;
    border-radius: 6px;
    width: 90%;
    visibility: visible;
    transform: scale(0.99);
}
.Modal .Modal__window:hover {
    box-shadow: -2rem -2rem 2rem rgba(0,0,0,0.3);
    transform: scale(1);
}
/* @media {
    .Modal .Modal__window {
        max-width: 50%;
   } 
}*/
.Modal .Modal__window .Modal__window__header {
    background:white ;
    padding: 10px;
    position: relative;
    border-radius: 6px 6px 0 0;
}
.Modal .Modal__window .Modal__window__header > h3 {
    color: gray;
    font-weight:bold ;
}
.Modal .Modal__window .Modal__window__header .Modal__close {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
.Modal .Modal__window .Modal__window__header .Modal__close::before {
    font-size: 24px;
    line-height: 16px;
    font-weight: 300;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'Icons16', sans-serif;
}
.Modal .Modal__window .Modal__window__header .Modal__close:hover {
    color:lightgray ;
    text-decoration: none;
}
.Modal .Modal__window .Modal__window__content {
    padding: 2em;
    position: relative;
    background:white ;
    color:darkgray ;
    border-radius: 4px;
    overflow-y: auto;
  
    max-height: 80vh;
}
.Modal .Modal__window .Modal__window__content form {
    position: relative;
}
.Modal .Modal__window .Modal__window__content form .FormButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -1.5em;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    background: #f5f5f5;
    border-radius: 0 0 6px 6px;
    left: 0;
}
.Modal .Modal__window .Modal__window__content form .FormButtonsContainer button {
    min-width: 120px;
}
/* @media {
    .Modal .Modal__window .Modal__window__content form .FormButtonsContainer button {
        min-width: 200px;
   }
} */
.Modal .Modal__window .Modal__window__content .pt-callout {
    border-radius: 0;
}
.Modal.FullWindow .Modal__window {
    min-width: 100vw;
    min-height: calc(100vh);
}
.Modal.FullWindow .Modal__window__content {
    padding: 0;
    max-height: 100%;
}
.Modal.FullWindow .FormButtonsContainer {
    bottom: -0.5em !important;
    z-index: 999999;
}
